body
  font-size: 10px
  +mr

.h
  +mb

.btn
  padding: 15px 20px
  +mb
  font-size: 1.3em
  text-decoration: none
  text-transform: uppercase
  color: #000000  
  background: transparent
  border: 2px $red solid
  border-radius: 10px
  &-white
    background: #ffffff
    border: 2px #ffffff solid
  &-hero
    display: flex
    align-items: center
    img
      display: inline-block
      margin-left: 10px
      transform: rotate(-90deg)

    
        
        

@media (max-width: 992px)
  body
    font-size: 9px
    
  

@media (max-width: 768px)
  body
    font-size: 8px

@media (max-width: 600px)
  body
    font-size: 7px
