.analysis
    padding: 170px 0
    background: url('../img/analysis-bg.jpg') right center no-repeat
    &__wrap
        max-width: 500px
    &__desc
        max-width: 400px
        margin: 10px 0 24px
    &__list
        margin-bottom: 40px
        &-link
            +mb
            font-size: 1.3em
            color: #808285
            text-decoration: none
            transition: 0.3s
            &:hover
                color: #000000
    &__item
        margin: 16px 0
    &__project-link
        display: inline-block
        margin-bottom: 30px
        padding: 7.5px 24px
        border: 1px solid #F2F2F2
        color: $red
