.cart
    &-box
        display: flex
        color: #ffffff
    &__box
        width: 33.333333%
        padding: 333px 0 55px 90px
        &_1
            background: url('../img/cart-1.jpg') center no-repeat
            background-size: cover
        &_2
            background: url('../img/cart-2.jpg') center no-repeat
            background-size: cover
        &_3
            background: url('../img/cart-3.jpg') center no-repeat
            background-size: cover
        &-title
            margin-bottom: 17px
            +msb
            font-size: 2.4em
        &-desc
            max-width: 319px
            font-size: 1.6em
            line-height: 23px
    &__p
        margin-bottom: 8px

@media (max-width: 1200px)
    .cart
        &__box
            padding: 200px 20px 55px 30px

@media (max-width: 992px)
    .cart
        &__box
            padding: 100px 10px 35px 20px

@media (max-width: 768px)
    .cart
        &__box
            padding: 20px 10px 20px 10px

@media (max-width: 600px)
    .cart
        &-box
            flex-wrap: wrap
        &__box
            width: 100%
            padding: 30px 10px 20px 40px
            &-desc
                line-height: 17px


            