.example
    &__wrap
        display: flex
    &__box
        padding: 200px 155px
        width: 50%
        &-1
            background: url('../img/portfolio/example-1.jpg')center no-repeat
            background-size: cover
        &-2
            background: url('../img/portfolio/example-2.jpg')center no-repeat
            background-size: cover
    &__title
        margin-bottom: 15px
    &__desc
        margin-bottom: 30px    
        color: #464646