.experions
    padding: 70px 0
    background: #F9F9F9
    &__wrap
        background: url('../img/experions-bg.jpg') right center no-repeat
    &__box
        max-width: 400px    
        padding: 150px 0
    &__desc
        margin-top: 20px
        margin-bottom: 20px
    &__link
        +mb
        padding-bottom: 8px
        font-size: 1.6em
        border-bottom: 3px $red solid
        text-decoration: none
        color: #000000
        &:visited
            color: #000000

@media (max-width: 1335px)
    .experions
        &__wrap
            background: url('../img/experions-bg.jpg') right -200px center no-repeat

@media (max-width: 1170px)
    .experions
        &__wrap
            background: url('../img/experions-bg.jpg') right -400px center no-repeat

@media (max-width: 850px)
    .experions
        &__wrap
            background: url('../img/experions-bg.jpg') right -200px center no-repeat
            background-size: 70%
        &__box
            padding: 0
            max-width: 300px

@media (max-width: 635px)
    .experions
        &__wrap
            background: none
