.feedback
    padding: 120px 0 290px
    background: url('../img/feedback-bg.jpg') center no-repeat
    background-size: cover
    &__text
        max-width: 360px
        margin-top: 17px
        color: #000000
        font-size: 1.6em
    &__form
        margin-top: 25px
        &-input
            width: 220px
            margin-right: 16px
            padding-bottom: 12px
            border: none
            border-bottom: 1px solid #464646
            color: #464646
            font-size: 1.4em
            background: transparent
            &::placeholder

@media (max-width: 992px)
  .feedback

@media (max-width: 768px)
  .feedback

@media (max-width: 600px)
    .feedback
        padding: 50px 0
        &__form
            display: flex
            flex-direction: column
            &-btn
                max-width: 200px    
                margin-top: 20px

