.footer
  padding: 50px 0 30px
  &__contacts
    &-box
      display: flex
      justify-content: space-between
      align-items: center
  &__relation
    display: flex
    align-items: center
    &-box
      &_1
        margin-right: 30px
    &-link
      color: #000000
      text-decoration: none
      &::visited
        color: #000000
  &__nav
    &-wrap
      display: flex
      justify-content: space-between
      margin-top: 80px
    &-title
      margin-bottom: 15px
      text-transform: uppercase
      color: #ACACAC
    &-item
      margin-bottom: 12px
    &-link
      +meb
      text-transform: uppercase
      color: #000000
      text-decoration: none
  &__item
    margin-bottom: 10px
  &__list
    &-link
      +mm
      text-decoration: none
      color: #000000
  a
    transition: 0.3s
    &:hover
      color: $red

  &__offer
    &-box
      display: flex
      align-items: center
      justify-content: space-between
      margin-top: 65px
    &-text
      +tt
      font-size: 1.2em
      color: #6b6b66
      line-height: 16px
      a
        text-decoration: none
        color: #6b6b66
  &__p
    &_one
      margin-bottom: 15px
      max-width: 750px
    &_two
  &__made-in
    font-size: 1.2em
    color: #a9a9a9
    img
      margin-left: 16px
