.hero
    z-index: 10
    position: relative
    background: #000
    color: #ffffff
    &-portfolio
        padding-top: 215px
        padding-bottom: 215px
        background: url('../img/portfolio/hero-bg.jpg') center no-repeat
        background-size: cover
        &__box
            max-width: 505px
    &__title
        +meb
        font-size: 6.4em
        line-height: 55px
    &__slider
        &-box
            padding-top: 100px
            padding-bottom: 100px
            background: url('../img/hero-slider-1.jpg') center no-repeat
            background-size: cover
    &__subtitle
        max-width: 650px
        line-height: 29px
        margin-top: 30px
        font-size: 1.9em
    &__name
        margin-top: 70px
        +mb
        font-size: 2em
    &__address
        margin-top: 8px
        font-size: 1.4em
        &-title
            margin-bottom: 16px
            color: #464646
        &_port
            font-size: 1.6em
        &-box
            display: flex
            margin-top: 32px
            &_1
                margin-right: 25px
    &__desc
        display: inline-block
        margin: 25px 15px 35px 0
        text-transform: uppercase
        +mb
        font-size: 1.4em
        color: #ffffff
        text-decoration: none
    &__box-nav
        display: flex
        align-items: center
    &__list
        z-index: 999
        position: absolute
        bottom: 100px
        right: 50%
        display: flex
        &-link
            +mb
            font-size: 1.3em
            text-decoration: none
            color: #ffffff
    &__item
        display: flex
        align-items: center
        margin: 0 20px

.owl-theme .owl-dots, .owl-theme .owl-nav
    position: absolute
    display: flex
    bottom: 100px
    right: 55%
.owl-theme .owl-dots .owl-dot span
    +mb
    font-size: 1.3em
    text-decoration: none
    color: #ffffff
    background: transparent
.owl-theme .owl-dots .owl-dot.active span
    width: 51px
    height: 47px
    margin: 0
    padding: 16px 21px
    border: 2px $red solid
    border-radius: 10px
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
    background: transparent

.arrow
    z-index: 999
    position: absolute
    top: 50%
    right: 13%
    transform: translateY(-50%)
    background: transparent
    border: none
.slider-active
    margin: 0
    padding: 15px 21px
    border: 2px $red solid
    border-radius: 10px

@media ( max-width:  1014px)
    .owl-theme .owl-dots, .owl-theme .owl-nav
        right: 40%

@media ( max-width:  992px)
    .hero
        &__title
            font-size: 4.4em
            line-height: 40px
        &__subtitle
            max-width: 450px
            line-height: 24px
    .owl-theme .owl-dots, .owl-theme .owl-nav
        right: 50%

@media ( max-width:  850px)
    .owl-theme .owl-dots, .owl-theme .owl-nav
        right: 30%

@media (max-width: 768px)
    .hero
        &__list
            
        &__slider
            &-box
                padding: 50px 0
        &_name
            margin-top: 40px
    .arrow
        height: 45px
        img
            height: 100%
    .owl-theme .owl-dots, .owl-theme .owl-nav
        bottom: 50px
        right: 10px

@media (max-width: 600px)
    .hero
        &__subtitle
            max-width: 250px
            line-height: 19px
        &__box-nav
            flex-wrap: wrap
        &__slider
            &-box
                padding-bottom: 80px
    .owl-theme .owl-dots, .owl-theme .owl-nav
        bottom: 15px
        left: 15px
    .owl-theme .owl-dots .owl-dot.active span
        width: 40px
        height: 40px
        padding: 14px

@media (max-width: 440px)
    .hero
        &__title
            font-size: 2.4em
            line-height: 21px

    
