.project
    padding: 100px 0
    &__title
        max-width: 570px
        margin: auto
        text-align: center
    &__desc
        margin: auto
        margin-top: 20px
        max-width: 590px
        text-align: center
    &__clients
        &-box
            display: flex
            justify-content: space-between
            margin-top: 90px
        &-cart
            width: 23%
            height: 90px
            margin: 0 12px
            background: #F2F2F2
    &__example
        width: 25%
        img
            width: 100%
        &-box
            display: flex
            margin-top: 100px
            flex-wrap: wrap
    &__btn-box
        margin-top: 90px
        text-align: center
        

