.speciality
    padding: 120px 0
    &__title
        margin-bottom: 32px
    &__text
        margin-bottom: 20px
        color: #464646
        &-box
            max-width: 445px
            &:first-child
                margin-right: 100px
        &-wrap
            display: flex